<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>af-ZA</string>
		<key>language</key>
		<string>Afrikaans</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sq-AL</string>
		<key>language</key>
		<string>Albanian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>am-AM</string>
		<key>language</key>
		<string>Amharic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ar-SA</string>
		<key>language</key>
		<string>Arabic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hy-AM</string>
		<key>language</key>
		<string>Armenian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>az-AZ</string>
		<key>language</key>
		<string>Azerbaijani</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bjs-BJS</string>
		<key>language</key>
		<string>Bajan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rm-RO</string>
		<key>language</key>
		<string>Balkan Gipsy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>eu-ES</string>
		<key>language</key>
		<string>Basque</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bem-BEM</string>
		<key>language</key>
		<string>Bemba</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bn-IN</string>
		<key>language</key>
		<string>Bengali</string>
	</dict>
	<dict>
		<key>code</key>
		<string>be-BY</string>
		<key>language</key>
		<string>Bielarus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bi-BI</string>
		<key>language</key>
		<string>Bislama</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bs-BA</string>
		<key>language</key>
		<string>Bosnian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>br-FR</string>
		<key>language</key>
		<string>Breton</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bg-BG</string>
		<key>language</key>
		<string>Bulgarian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>my-MM</string>
		<key>language</key>
		<string>Burmese</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ca-ES</string>
		<key>language</key>
		<string>Catalan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cb-PH</string>
		<key>language</key>
		<string>Cebuano</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ch-CH</string>
		<key>language</key>
		<string>Chamorro</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zh-CN</string>
		<key>language</key>
		<string>Chinese (Simplified)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zh-TW</string>
		<key>language</key>
		<string>Chinese Traditional</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zdj-ZDJ</string>
		<key>language</key>
		<string>Comorian (Ngazidja)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cop-XNA</string>
		<key>language</key>
		<string>Coptic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>aig-AIG</string>
		<key>language</key>
		<string>Creole English (Antigua and Barbuda)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bah-BAH</string>
		<key>language</key>
		<string>Creole English (Bahamas)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gcl-GCL</string>
		<key>language</key>
		<string>Creole English (Grenadian)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gyn-GYN</string>
		<key>language</key>
		<string>Creole English (Guyanese)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xx-JM</string>
		<key>language</key>
		<string>Creole English (Jamaican)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>svc-SVC</string>
		<key>language</key>
		<string>Creole English (Vincentian)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>vic-VIC</string>
		<key>language</key>
		<string>Creole English (Virgin Islands)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ht-HT</string>
		<key>language</key>
		<string>Creole French (Haitian)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>acf-ACF</string>
		<key>language</key>
		<string>Creole French (Saint Lucian)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>crs-CRS</string>
		<key>language</key>
		<string>Creole French (Seselwa)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pov-POV</string>
		<key>language</key>
		<string>Creole Portuguese (Upper Guinea)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hr-HR</string>
		<key>language</key>
		<string>Croatian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cs-CZ</string>
		<key>language</key>
		<string>Czech</string>
	</dict>
	<dict>
		<key>code</key>
		<string>da-DK</string>
		<key>language</key>
		<string>Danish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nl-NL</string>
		<key>language</key>
		<string>Dutch</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dz-DZ</string>
		<key>language</key>
		<string>Dzongkha</string>
	</dict>
	<dict>
		<key>code</key>
		<string>en-GB</string>
		<key>language</key>
		<string>English</string>
	</dict>
	<dict>
		<key>code</key>
		<string>eo-XN</string>
		<key>language</key>
		<string>Esperanto</string>
	</dict>
	<dict>
		<key>code</key>
		<string>et-EE</string>
		<key>language</key>
		<string>Estonian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fn-FNG</string>
		<key>language</key>
		<string>Fanagalo</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fo-FO</string>
		<key>language</key>
		<string>Faroese</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fi-FI</string>
		<key>language</key>
		<string>Finnish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fr-FR</string>
		<key>language</key>
		<string>French</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gl-ES</string>
		<key>language</key>
		<string>Galician</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ka-GE</string>
		<key>language</key>
		<string>Georgian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>de-DE</string>
		<key>language</key>
		<string>German</string>
	</dict>
	<dict>
		<key>code</key>
		<string>el-GR</string>
		<key>language</key>
		<string>Greek</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XN-GR</string>
		<key>language</key>
		<string>Greek (Classical)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gu-IN</string>
		<key>language</key>
		<string>Gujarati</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ha-HA</string>
		<key>language</key>
		<string>Hausa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XN-US</string>
		<key>language</key>
		<string>Hawaiian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>he-IL</string>
		<key>language</key>
		<string>Hebrew</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hi-IN</string>
		<key>language</key>
		<string>Hindi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hu-HU</string>
		<key>language</key>
		<string>Hungarian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>is-IS</string>
		<key>language</key>
		<string>Icelandic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>id-ID</string>
		<key>language</key>
		<string>Indonesian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kl-KL</string>
		<key>language</key>
		<string>Inuktitut (Greenlandic)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ga-IE</string>
		<key>language</key>
		<string>Irish Gaelic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>it-IT</string>
		<key>language</key>
		<string>Italian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ja-JA</string>
		<key>language</key>
		<string>Japanese</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jw-ID</string>
		<key>language</key>
		<string>Javanese</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kea-KEA</string>
		<key>language</key>
		<string>Kabuverdianu</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kab-DZ</string>
		<key>language</key>
		<string>Kabylian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ka-IN</string>
		<key>language</key>
		<string>Kannada</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kk-KZ</string>
		<key>language</key>
		<string>Kazakh</string>
	</dict>
	<dict>
		<key>code</key>
		<string>km-KM</string>
		<key>language</key>
		<string>Khmer</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rw-RW</string>
		<key>language</key>
		<string>Kinyarwanda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rn-RN</string>
		<key>language</key>
		<string>Kirundi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ko-KR</string>
		<key>language</key>
		<string>Korean</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ku-TR</string>
		<key>language</key>
		<string>Kurdish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ku-TR</string>
		<key>language</key>
		<string>Kurdish Sorani</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ky-KY</string>
		<key>language</key>
		<string>Kyrgyz</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lo-LO</string>
		<key>language</key>
		<string>Lao</string>
	</dict>
	<dict>
		<key>code</key>
		<string>la-XN</string>
		<key>language</key>
		<string>Latin</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lv-LV</string>
		<key>language</key>
		<string>Latvian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lt-LT</string>
		<key>language</key>
		<string>Lithuanian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lb-LB</string>
		<key>language</key>
		<string>Luxembourgish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mk-MK</string>
		<key>language</key>
		<string>Macedonian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mg-MG</string>
		<key>language</key>
		<string>Malagasy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ms-MY</string>
		<key>language</key>
		<string>Malay</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dv-DV</string>
		<key>language</key>
		<string>Maldivian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mt-MT</string>
		<key>language</key>
		<string>Maltese</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gv-IM</string>
		<key>language</key>
		<string>Manx Gaelic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mi-NZ</string>
		<key>language</key>
		<string>Maori</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mh-MH</string>
		<key>language</key>
		<string>Marshallese</string>
	</dict>
	<dict>
		<key>code</key>
		<string>men-MEN</string>
		<key>language</key>
		<string>Mende</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mn-MN</string>
		<key>language</key>
		<string>Mongolian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mfe-MFE</string>
		<key>language</key>
		<string>Morisyen</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ne-NP</string>
		<key>language</key>
		<string>Nepali</string>
	</dict>
	<dict>
		<key>code</key>
		<string>niu-NIU</string>
		<key>language</key>
		<string>Niuean</string>
	</dict>
	<dict>
		<key>code</key>
		<string>no-NO</string>
		<key>language</key>
		<string>Norwegian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ny-NY</string>
		<key>language</key>
		<string>Nyanja</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ur-PK</string>
		<key>language</key>
		<string>Pakistani</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pau-PAU</string>
		<key>language</key>
		<string>Palauan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pa-IN</string>
		<key>language</key>
		<string>Panjabi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pap-PAP</string>
		<key>language</key>
		<string>Papiamentu</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ps-PK</string>
		<key>language</key>
		<string>Pashto</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fa-IR</string>
		<key>language</key>
		<string>Persian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pis-PIS</string>
		<key>language</key>
		<string>Pijin</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pl-PL</string>
		<key>language</key>
		<string>Polish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pt-PT</string>
		<key>language</key>
		<string>Portuguese</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pot-US</string>
		<key>language</key>
		<string>Potawatomi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qu-XN</string>
		<key>language</key>
		<string>Quechua</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ro-RO</string>
		<key>language</key>
		<string>Romanian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ru-RU</string>
		<key>language</key>
		<string>Russian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sm-SM</string>
		<key>language</key>
		<string>Samoan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sg-SG</string>
		<key>language</key>
		<string>Sango</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gd-GB</string>
		<key>language</key>
		<string>Scots Gaelic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sr-RS</string>
		<key>language</key>
		<string>Serbian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sn-SN</string>
		<key>language</key>
		<string>Shona</string>
	</dict>
	<dict>
		<key>code</key>
		<string>si-LK</string>
		<key>language</key>
		<string>Sinhala</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sk-SK</string>
		<key>language</key>
		<string>Slovak</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sl-SI</string>
		<key>language</key>
		<string>Slovenian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>so-SO</string>
		<key>language</key>
		<string>Somali</string>
	</dict>
	<dict>
		<key>code</key>
		<string>st-ST</string>
		<key>language</key>
		<string>Sotho, Southern</string>
	</dict>
	<dict>
		<key>code</key>
		<string>es-ES</string>
		<key>language</key>
		<string>Spanish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>srn-SRN</string>
		<key>language</key>
		<string>Sranan Tongo</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sw-SZ</string>
		<key>language</key>
		<string>Swahili</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sv-SE</string>
		<key>language</key>
		<string>Swedish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>de-CH</string>
		<key>language</key>
		<string>Swiss German</string>
	</dict>
	<dict>
		<key>code</key>
		<string>syc-TR</string>
		<key>language</key>
		<string>Syriac (Aramaic)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tl-PH</string>
		<key>language</key>
		<string>Tagalog</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tg-TJ</string>
		<key>language</key>
		<string>Tajik</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tmh-DZ</string>
		<key>language</key>
		<string>Tamashek (Tuareg)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ta-LK</string>
		<key>language</key>
		<string>Tamil</string>
	</dict>
	<dict>
		<key>code</key>
		<string>te-IN</string>
		<key>language</key>
		<string>Telugu</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tet-TET</string>
		<key>language</key>
		<string>Tetum</string>
	</dict>
	<dict>
		<key>code</key>
		<string>th-TH</string>
		<key>language</key>
		<string>Thai</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bo-CN</string>
		<key>language</key>
		<string>Tibetan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ti-TI</string>
		<key>language</key>
		<string>Tigrinya</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tpi-TPI</string>
		<key>language</key>
		<string>Tok Pisin</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tkl-TKL</string>
		<key>language</key>
		<string>Tokelauan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>to-TO</string>
		<key>language</key>
		<string>Tongan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tn-TN</string>
		<key>language</key>
		<string>Tswana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tr-TR</string>
		<key>language</key>
		<string>Turkish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tk-TK</string>
		<key>language</key>
		<string>Turkmen</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tvl-TVL</string>
		<key>language</key>
		<string>Tuvaluan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>uk-UA</string>
		<key>language</key>
		<string>Ukrainian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ppk-ID</string>
		<key>language</key>
		<string>Uma</string>
	</dict>
	<dict>
		<key>code</key>
		<string>uz-UZ</string>
		<key>language</key>
		<string>Uzbek</string>
	</dict>
	<dict>
		<key>code</key>
		<string>vi-VN</string>
		<key>language</key>
		<string>Vietnamese</string>
	</dict>
	<dict>
		<key>code</key>
		<string>wls-WLS</string>
		<key>language</key>
		<string>Wallisian</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cy-GB</string>
		<key>language</key>
		<string>Welsh</string>
	</dict>
	<dict>
		<key>code</key>
		<string>wo-SN</string>
		<key>language</key>
		<string>Wolof</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xh-ZA</string>
		<key>language</key>
		<string>Xhosa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yi-YD</string>
		<key>language</key>
		<string>Yiddish</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zu-ZU</string>
		<key>language</key>
		<string>Zulu</string>
	</dict>
</array>
</plist>
